.cell {
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

.closedcell {
    background-color: grey;
}

.opencell {
    background-color: #1E90FF; /* Dark blue */
}

#textfield {
    width: 80px;
    height: 25px;
    font-size: 15px;
}

#ngbutton {
    width: 70px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
